.main {
    flex: 1;
}

// Modification
.bg-dark {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 85vh;
    background-color: #12002b;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
}

.input-wrapper label {
    font-weight: 700;
}

.input-wrapper input {
    padding: 5px;
    font-size: 1.2rem;
}

.sign-in {
    box-sizing: border-box;
    background-color: #fff;
    width: 300px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;

    &__button {
        display: block;
        width: 100%;
        padding: 8px;
        font-size: 1.1rem;
        font-weight: 700;
        margin-top: 1rem;
        border-color: #00bc77;
        background-color: #00bc77;
        color: #fff;
        cursor: pointer;
    }
    &__icon {
        font-size: 1rem;
    }

}

input:disabled {
    cursor: not-allowed;
    background-color: silver;
    color: #4f4f4f;
    border: 2px solid #a0a0a0;
}